body {
font-family: 'Courier New', Courier, monospace;
background-color: aquamarine;
display: flex;
flex-flow: column;
width: 70%;
margin: auto;
max-width: 800px;

}
#stats {
    display:flex;
    flex-flow: row wrap;
    color:whitesmoke;
    padding:10px 10px 10px 10px;
    background-color: grey;
    font-weight:bolder;
    border-radius: 28px;
    margin-top: 5%;
    
}
#actions {
    display:flex;
    flex-flow: row wrap;
    color:whitesmoke;
    padding:10px 10px 10px 10px;
    background-color: grey;
    font-weight:bolder;
    border-radius: 28px;
    margin-bottom: 5%;
}

.substat {
    margin: auto;
    background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
#lower-panel{
    align-items: center;
    
    
}

#gum {
    background-color:rgb(179, 91, 106);
    border-color:pink;
    color:pink;

}

#reset {
    color:white;
    background-color:tomato;
    border-color: white;
}


h1 {
    text-align: center;
    font-size: 20px;
    background-color: lightgray;
    border-radius: 5px;
}
#character-box {
    background-color:aquamarine;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    height:500px;
    width: 400px;
    margin: auto ;

}
button {
    margin: auto;
    background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

button:hover {
    background-color:#5cbf2a;
    font-style: oblique;
}
button:active{
    position:relative;
	top:1px;
}

img {
    height:500px;
    width:100%;
}

